.virtual-scroll-list-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

.horizontal {
  display: flex;
}

.headerSlot {
  position: sticky;
  top: 0;
}

.footerSlot {
  position: sticky;
  bottom: 0;
}
